<html>
<head>

  <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-135672748-1', 'auto');
ga('send', 'pageview');
</script>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/js/analytics.js"></script>
	<title>Event Creation Page</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- Google Analytics -->

<!-- End Google Analytics -->
</head>
<body>
	<div class="jumbotron">
		<div class="container">
			<img src="/images/mindful.png" alt="Mindful image" class="img">
		</div>
	</div>
	<div class="center"><p>Locations</p></div>
<div class="donetext"><h1></h1></div>

<div class="container">
	<h1>   <h1>
</div>
<div class="container">
	<h1>   <h1>
</div>

	</body>

<style>

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 50%;
}

.option {
	font-size: 30px;
}

.styled-select select {
	position: relative;
	left: 0;
}

.center {
	text-align: center;
	font-size: 100px;
}
.icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D6D6D6;
  overflow: auto;
}

.icon-bar a {
  
  float: left;
  width: 20%;
  text-align: center;
  padding: 20px 20px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50;
}

.backbutton {
	border-radius: 100px;
	position: absolute;
	top: 220;
	left: 50;
}

.cancelbutton {
	border-radius: 5px;
	position: absolute;
	top: 325;
	right: 50;
}

.backtext {
	position: absolute;
	top: 450;
	left: 75;
}

.canceltext {
	position: absolute;
	top: 450;
	right: 65;
}

.longbutton {
  height:100px;
  width:90%;
  top:50%;
  left:5%;
  position: relative;
  text-align: left;
}

.location {
	font-size: 60px;
	width: 0%;
}

.accordion2 {

  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active, .accordion2:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.addbutton {
  border-radius: 100px;
  position: fixed;
  bottom: 200;
  right: 100;
}

</style>
</head>
<body>
	{{#each events}}
<div class="event">
<button style="font-size: 40px;"class="accordion2"><p style="text-align: left">{{location}}<span style="float:right">{{date}}</span></p></button>
	<div style="font-size: 35px;" class="panel">
 		 <p>Emotion: {{emotion}}</p>
 		 <p>Satisfaction: {{satisfaction}}</p>
     <p>Activity: {{activity}}</p>
 		 <p>Time: {{time}}</p>
 		 <p>Notes: {{notes}}</p>
		</div>
 
<!-- <a href="event" class="activity">
   <button class="longbutton">{{activity}} &#10095;</button>

  </a> -->
</div>
{{/each}}
	<button class="backbutton" onclick="location.href='/home';" style="font-size : 70px; width: 140; height: 140px"><</button>

</style>
<script>
var acc = document.getElementsByClassName("accordion2");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight){
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
</script>
<div class="icon-bar">
  	<a><img src="/images/statistics.png" onclick="location.href='/home'"; alt="statistics" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/activities.png" onclick="location.href='/activities';" alt="activities" class="img" style="width:100px;height:100px;"></a>
	<a><img src="/images/calendar.png" onclick="location.href='/calendar';" alt="calendar" class="img" style="width:100px;height:100px;"></a>
	<a class="active"><img src="/images/locations.png" onclick="location.href='/locations';" alt="locations" style="width:100px;height:100px;"></a>
	<a><img src="/images/settings.png" onclick="location.href='/settings';" alt="settings" class="img" style="width:100px;height:100px;"></a>
</div>

<button class="addbutton" onclick="location.href='/add';" style="font-size : 70px; width: 140; height: 140px">+</button>

</html> 